@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

header{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: #7500B9;
    align-items: center;
    padding-left: 10%;

    img{
        width: 3%;
        height: 70%;

        &:hover{
            animation: flip 2s linear;
            transform-style: preserve-3d; 
        }
    }
}