.productInventory{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 50%;    
    border-radius: 1.6em;
    height: 100%;
    background-color: #f5f5f5;

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        font-weight: bold;
        padding: 1em;
        border-radius: 1em;
        background-color: #f5f5f5;
        font-size: 1.1em;
        
        #downArrow{
            transform: rotate(90deg);
            border: none;
            width: 7%;
        }
        
        span{
            border: #6c319c 2px solid;
            border-radius: 2em;
            padding: 0.3em;
            background-color: white;
            transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;

            &:hover {
                background-color: #6c319c;
                color: white; 
                cursor: pointer;
        }
    }
}
}