@import '../App.scss';

.conversionRateChartContainer {
    @include chart;
    @include buttons;
}

@media (max-width: 768px) {
    .conversionRateChartContainer {
        flex-direction: column;
        width: 100%;
        .buttons {
            flex-wrap: wrap;
        }
    }
}